name: Cleanup old tags and PR
on:
  workflow_dispatch:
  schedule:
    # Runs at 12:00am UTC
    - cron: "0 0 * * *"

jobs:
  cleanup-tags-pr:
    runs-on: ubuntu-24.04
    steps:
      # To use this action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Cleanup
        uses: digicert/prune_old_branches_action@e9579c0de0fef771ed0bd5e5205510ef03b5f50e # v9
        with:
          numTags: "10"
